
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= image_tag "http://i.pravatar.cc/150?u=#{@user.email}", class: "profile-picture"%>
      <h1><%= @user.username %></h1>
      <h2>member since <%= @user.created_at.strftime("%Y") %></h2>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#questionnaire">
       <h3><%= image_tag "002-questions.svg", class: "tab-icon"%>Questionnaire</h3>
      </a>
      <a class="tab" data-target="#personality">
        <h3><%= image_tag "001-user.svg", class: "tab-icon"%>Personality</h3>
      </a>
      <% if @user != current_user %>
        <%= link_to rooms_path(recipient: @user.id), method: :post, class: "tab" do %>
          <h3><%= image_tag "003-chat.svg", class: "tab-icon" %>Converse now!</h3>
        <% end %>
      <% else %>
      <a class="tab" data-target="#matches">
        <h3> <%= image_tag"003-chat.svg", class: "tab-icon" %> Matches </h3>
      </a>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center">
      <div class="tab-content hidden" id="personality">
        <div class="row">
          <div class="col-xs-6">
            <h5 class="align-center text-blue">Outgoing</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Outgoing"] %>"></progress>

              <h5 class="align-center text-blue">Emotionality</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Emotionality"] %>"></progress>

              <h5 class="align-center text-blue">Self-efficacy</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Self-efficacy"] %>"></progress>

              <h5 class="align-center text-blue">Fiery</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Fiery"] %>"></progress>

               <h5 class="align-center text-blue">Openness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Openness"] %>"></progress>

              <h5 class="align-center text-blue">Sympathy</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Sympathy"] %>"></progress>

              <h5 class="align-center text-blue">Agreeableness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Agreeableness"] %>"></progress>

              <h5 class="align-center text-blue">Adventurousness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Adventurousness"] %>"></progress>

              <h5 class="align-center text-blue">Artistic interests</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Artistic interests"] %>"></progress>

              <h5 class="align-center text-blue">Cheerfulness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Cheerfulness"] %>"></progress>

              <h5 class="align-center text-blue">Intellect</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Intellect"] %>"></progress>

              <h5 class="align-center text-blue">Conscientiousness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Conscientiousness"] %>"></progress>

              <h5 class="align-center text-blue">Achievement striving</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Achievement striving"] %>"></progress>

              <h5 class="align-center text-blue">Prone to worry</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Prone to worry"] %>"></progress>

          </div>
          <div class="col-xs-6">

              <h5 class="align-center text-blue">Orderliness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Orderliness"] %>"></progress>

              <h5 class="align-center text-blue">Cautiousness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Cautiousness"] %>"></progress>

              <h5 class="align-center text-blue">Self-discipline</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Self-discipline"] %>"></progress>

              <h5 class="align-center text-blue">Extraversion</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Extraversion"] %>"></progress>

              <h5 class="align-center text-blue">Melancholy</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Melancholy"] %>"></progress>

              <h5 class="align-center text-blue">Assertiveness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Assertiveness"] %>"></progress>

              <h5 class="align-center text-blue">Cheerfulness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Cheerfulness"] %>"></progress>

              <h5 class="align-center text-blue">Excitement-seeking</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Excitement-seeking"] %>"></progress>

              <h5 class="align-center text-blue">Imagination</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Imagination"] %>"></progress>

              <h5 class="align-center text-blue">Gregariousness</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Gregariousness"] %>"></progress>

              <h5 class="align-center text-blue">Altruism</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Altruism"] %>"></progress>

              <h5 class="align-center text-blue">Cooperation</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Cooperation"] %>"></progress>

              <h5 class="align-center text-blue">Uncompromising</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Uncompromising"] %>"></progress>

              <h5 class="align-center text-blue">Authority-challenging</h5>
              <progress  class="align-center" max="100" value="<%= @user.print_insight["Authority-challenging"] %>"></progress>
      </div>
    </div>
  </div>

    <div class="tab-content" id="questionnaire">
      <%= render 'answers/listing', user: @user %>
    </div>

  <div class="tab-content hidden" id="matches">
    <p> <%= render 'matches/matches', user: current_user %> </p>
  </div>
</div>



    <% if @user == current_user %>
        <%# link_to "Deactivate account", user_registration_path, method: :delete %>
    <!-- Button trigger modal -->
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Questionnaire</h4>
              </div>
              <div class="modal-body">
                <%= render 'answers/form', user: current_user, answer: Answer.new, question: @question %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <% if (@user == current_user) && (!current_user.answered_minimum_questions? || params[:skip] == "1") %>
      <% content_for(:after_js) do %>
        <script>
          $( document ).ready(function() {
            $('#myModal').modal({
              backdrop: 'static',
              keyboard: false
            });

            // $("#Modalbtn").trigger("click");
            });
        </script>
      <% end %>
    <% end %>


    <%# @user.print_insight %>


    <%# link_to "Calculate insight", calculate_insight_user_path(@user.id), method: :post, :class => "btn" %>

