<% content_for :title, "Profile #{@user.username}" %>
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= image_tag "#{@user.avatar}", class: "profile-picture"%>
      <h1><%= @user.username %></h1>
      <h2>member since <%= @user.created_at.strftime("%Y") %></h2>
    </div>
    <div class="tabs">
      <a class="tab <%= tab_active('questionnaire',params[:tab])%>" data-target="#questionnaire">
       <h3><%= image_tag "002-questions.svg", class: "tab-icon"%>Questionnaire</h3>
      </a>
      <a class="tab <%= tab_active('personality',params[:tab])%>" data-target="#personality">
        <h3><%= image_tag "001-user.svg", class: "tab-icon"%>Personality</h3>
      </a>
      <% if @user != current_user %>
        <%= link_to rooms_path(recipient: @user.id), method: :post, class: "tab" do %>
          <h3><%= image_tag "003-chat.svg", class: "tab-icon" %>Converse now!</h3>
        <% end %>
      <% else %>
        <%= link_to matches_path, class: "tab" do %>
          <h3><%= image_tag "003-chat.svg", class: "tab-icon" %> Matches </h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content <%= tab_hidden('personality', params[:tab])%>" id="personality">
    <br>
    <br>
    <div class="row">
      <div class="col-xs-8">
        <canvas id="chartweb1" width="250" height="250"></canvas>
      </div>

      <!-- </div> -->
      <div class="col-xs-4">
        <h3 class="align-center text-blue">Values</h3>
        <canvas id="chartPole" width="250" height="250"></canvas>
      </div>
        <% if @user == current_user %>
          <% @user.print_insight %>
          <%= link_to "Calculate Your Personality Insight", calculate_insight_user_path(@user.id), method: :post, :class => "btn btn-primary" %>
        <% end %>
    </div>
  </div>


      <div class="tab-content <%= tab_hidden('questionnaire', params[:tab])%>" id="questionnaire">
        <%= render 'answers/listing', user: @user %>
      </div>
</div>



    <% if @user == current_user %>
        <%# link_to "Deactivate account", user_registration_path, method: :delete %>
    <!-- Button trigger modal -->
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Questionnaire</h4>
              </div>
              <div class="modal-body">
                <%= render 'answers/form', user: current_user, answer: Answer.new, question: @question %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <% if (@user == current_user) && (!current_user.answered_minimum_questions? || params[:skip] == "1") %>
      <% content_for(:after_js) do %>
        <script>
          $( document ).ready(function() {
            $('#myModal').modal({
              backdrop: 'static',
              keyboard: false
            });

            // $("#Modalbtn").trigger("click");
            });
        </script>
      <% end %>
    <% end %>

      <% content_for(:after_js) do %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

      <script>
    var ctx = $("#chartweb1");
    var data = {
    labels: <%= raw (@user.print_insight.keys[0..30]) %>,
    datasets: [
        {
            label: "Personality",
            backgroundColor: "rgba(71, 61, 138,0.8)",
            borderColor: "#6F58C9",
            pointBackgroundColor: "#6F58C9",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "#6F58C9",
          data: <%= raw (@user.print_insight.values[0..30]) %>
        }
    ]
};
new Chart(ctx, {
    type: "radar",
    data: data,
    options: {
            scale: {
                reverse: true,
                ticks: {
                    beginAtZero: true
                }
            }
    }
});
 var ctx = $("#chartPole");
        var data = {
    datasets: [{
        data: <%= raw (@user.print_insight.values[28..36]) %>,
        backgroundColor: [
            "rgba(111, 88, 201, 0.8)",
            "rgba(125, 131, 255, 0.8)",
            "rgba(188, 237, 246, 0.8)",
            "rgba(71, 61, 138, 0.7)",
            "rgba(83,154,237,0.7)",
            "rgba(134, 104, 168, 0.7)",
            "rgba(167,204,237,0.7)"
        ],
        label: 'My dataset' // for legend
    }],
    labels:<%= raw (@user.print_insight.keys[28..36]) %>
};

 new Chart(ctx, {
    data: data,
    type: "polarArea",
    options: {
        elements: {
            arc: {
                borderColor: "#F7F8FB"
            }
        }
    }
});
      </script>
      <%end%>
