<div class="container">
<% if @user == current_user %>
    <%= link_to "Deactivate account", user_registration_path, method: :delete %>
<!-- Button trigger modal -->
    <button id="Modalbtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      More Questions?
    </button>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">

            <%= render 'answers/form', user: current_user, answer: Answer.new, question: @question %>

          </div>
        </div>
      </div>
    </div>
<% end %>

<% @user.ratings.each do |rating| %>
  <%= rating.helpfulness %>
  <%= rating.response_time %>
<% end %>


<% if (@user == current_user) && (!current_user.answered_minimum_questions? || params[:skip] == "1") %>
  <% content_for(:after_js) do %>
    <script>
      $( document ).ready(function() {
        $('#myModal').modal({
          backdrop: 'static',
          keyboard: false
        });

        // $("#Modalbtn").trigger("click");
        });
    </script>
  <% end %>
<% end %>

<div id="results">
  <%= render 'answers/listing', user: @user %>
</div>


<%= @user.print_insight %>

<%= link_to "Calculate insight", calculate_insight_user_path(@user.id), method: :post, :class => "btn" %>

