<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row ">
      <div class="col-md-3">
        <!-- Avatar Picture -->
        <%= image_tag "http://i.pravatar.cc/150?u=#{current_user.email}", class: "bg_blur"%>


      </div>


      <div class="col-md-9 ">
        <!-- Background Picture -->
        <%= image_tag "http://lorempixel.com/1920/700/nature/#{current_user.id}", class: "bg_spread"%>
      </div>
  </div>

  <div class="row">
    <div class="col-md-2">
     <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <nav class="nav-sidebar">
              <ul class="nav tabs">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">
                      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                      <span class="">Personality</span>
                    </a>
                </li>

                <li class="" >
                    <a href="#tab2" data-toggle="tab">
                      <i class="fa fa-font" aria-hidden="true"> </i>
                      <span class=""> Questionnaire</span>
                    </a>
                </li>

                <li class="">
                    <a href="#tab3" data-toggle="tab">
                      <i class="fa fa-comment-o" aria-hidden="true"> </i>
                      <span class=""> Past Conversations</span>
                    </a>
                </li>
              </ul>
            </nav>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-10">
      <div id="page-content-wrapper">
        <!-- /#page-content-wrapper -->
        <div class="tab-content">
          <div class="tab-pane active text-style" id="tab1">
            <h2>Personality</h2>
                 <p>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                   standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                   a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                   and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                 </p>

          </div>
          <div class="tab-pane text-style" id="tab2">
            <h2>Questionnaire</h2>
             <p>Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
              ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>

          </div>
          <div class="tab-pane text-style" id="tab3">
            <h2>Past Conversations</h2>
            <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum
              iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
              facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
              augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
<% if @user == current_user %>
    <%= link_to "Deactivate account", user_registration_path, method: :delete %>
<!-- Button trigger modal -->
    <button id="Modalbtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      More Questions?
    </button>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">

            <%= render 'answers/form', user: current_user, answer: Answer.new, question: @question %>

          </div>
        </div>
      </div>
    </div>
<% end %>

<% @user.ratings.each do |rating| %>
  <%= rating.helpfulness %>
  <%= rating.response_time %>
<% end %>


<% if (@user == current_user) && (!current_user.answered_minimum_questions? || params[:skip] == "1") %>
  <% content_for(:after_js) do %>
    <script>
      $( document ).ready(function() {
        $('#myModal').modal({
          backdrop: 'static',
          keyboard: false
        });

        // $("#Modalbtn").trigger("click");
        });
    </script>
  <% end %>
<% end %>

<div id="results">
  <%= render 'answers/listing', user: @user %>
</div>
</div>

