<% content_for :title, "Profile #{@user.username}" %>


<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= image_tag "#{@user.avatar}", class: "profile-picture"%>
      <h1><%= @user.username %></h1>
      <h2>member since <%= @user.created_at.strftime("%Y") %></h2>
    </div>
      <%= render "shared/menu" %>
  </div>
</div>




    <% if @user == current_user %>
        <%# link_to "Deactivate account", user_registration_path, method: :delete %>
    <!-- Button trigger modal -->
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Questionnaire</h4>
              </div>
              <div class="modal-body">
                <%= render 'answers/form', user: current_user, answer: Answer.new, question: @question %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <% if (@user == current_user) && (!current_user.answered_minimum_questions? || params[:skip] == "1") %>
      <% content_for(:after_js) do %>
        <script>
          $( document ).ready(function() {
            $('#myModal').modal({
              backdrop: 'static',
              keyboard: false
            });

            // $("#Modalbtn").trigger("click");
            });
        </script>
      <% end %>
    <% end %>

