<!-- Le Wagon Bar - Hidden -->
<div class="navbar-wagon hidden">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>



<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <%= link_to "taboo", root_path, class: "navbar-brand" %>
            </div>

            <!-- Different navigation if login or not -->
            <% if user_signed_in? %>

              <!-- Notification -->
              <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link float-left" do %>
                <div class="badge-container">
                  <i class="fa fa-envelope-o"></i>
                  <div class="badge badge-blue">3</div>
                </div>
              <% end %>

              <!-- Profile picture and dropdown -->
              <div class="navbar-wagon-item float-right">
                <div class="dropdown">
                  <%= image_tag "http://static.sify.com/cms/image/mfnw1vbfbbcsi.jpg", class: "avatar-eyes dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
                  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                    <li>
                      <%= link_to user_path(@current_user) do %>
                        <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to root_path do %>
                        <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
              </div>
            <% else %>

              <!-- Login text link -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#intro">Home</a></li>
                        <li><a href="#about">Why we exist?</a></li>
                        <li><a href="#service">Features</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><%= link_to "Sign Up", new_user_registration_path, class: "" %></li>
                            <li><%= link_to "Login", new_user_session_path, class: "" %></li>
                          </ul>
                        </li>
                      </ul>
                    </div>

            <% end %>

            <!-- /.navbar-collapse -->
        </div>
 <!-- /.container -->
</nav>


