
        <%= simple_form_for([user, question, answer], remote: true) do |f| %>

          <h2><%= question.content %></h2>
          <%= f.input :content %>
          <%= f.input :question_id, as: :hidden, input_html: { value: question.id }  %>
          <div>
            <progress max="100" value= "<%=user.percentage%>"></progress>
          </div>
          <%= link_to "Skip", user_path(user, skip: 1), class: "btn btn-primary" %>
          <%= f.submit "Next", class: "btn btn-primary" %>
          <% if user.answered_minimum_questions? %>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        <% end %>

