
<div id="online" style="display: none" ><h2>your interlocuter is in this room</h2></div>
<div id="away"><h2>your interlocuter is away</h2></div>



<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
       <div class="row bg-white">
            <div id="custom-search-input">
               <!-- <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Matches" />
                  <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
               </div> -->
            </div>
            <div class="dropdown all_conversation">
               <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               Matches
               <span class="caret pull-right"></span>
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#"> All Matches </a>  <ul class="sub_menu_ list-unstyled">
                  <li><a href="#"> All Matches </a> </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
         </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
            <div class="member_list">
               <ul class="list-unstyled">

                <% @matches_hash.each do |user_id, score| %>
                    <% user = User.find(user_id) %>
                    <%= user.username %>


                  <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font"><%= user.username %></strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font"><%= score%>% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                  <!-- <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Rajel Mok</strong> <strong class="pull-right ">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">89% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                  <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">83% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                          <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">81% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                          <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">80% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                          <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">76% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                          <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">75% Fit</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li> -->
                  <%end%>
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->


         <div class="col-sm-9 message_section">
     <div class="row">
     <div class="new_message_head">
     <div class="pull-left"><button><i class="fa fa-plus-square-o hidden" aria-hidden="true"></i><%= @target.username %></button></div><div class="pull-right"><div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cogs" aria-hidden="true"></i>  Settings
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div></div>
     </div><!--new_message_head-->

     <div id ="messages-div" class="chat_area bg-white">
     <ul id = "messages-box" class="list-unstyled">
     <li class="left clearfix">

                  <div class="spinner">
                  <div class="cube1"></div>
                  <div class="cube2"></div>
                  </div>
                     <!-- <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
            <div class="chat_time pull-right">09:40PM</div>
                     </div>
                  </li>
           <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
            <div class="chat_time pull-right">09:40PM</div>
                     </div>
                  </li>
                     <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
              <div class="chat_time pull-right">09:40PM</div>
                     </div>
                  </li>
          <li class="left clearfix admin_chat">
                     <span class="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body1 clearfix right">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
            <div class="chat_time pull-left">09:40PM</div>
                     </div>
                  </li>
                  <li class="left clearfix admin_chat">
                     <span class="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body1 clearfix left">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
              <div class="chat_time pull-left">09:40PM</div>
                     </div> -->
                  </li>
     </ul>
     </div><!--chat_area-->
          <div class="message_write">
       <textarea id = "new_message2" class="form-control" placeholder="type a message"></textarea>
     <div class="clearfix"></div>
     <div class="chat_bottom"><a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
 Add GIFs</a>
 <a id="send" class="pull-right btn btn-success">
 Send</a></div>
     </div>
     </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>





 <%= content_for(:after_js) do  %>


  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('3df64582bb7a34201be2', {
      encrypted: true
    });

    var channel = pusher.subscribe("presence-room-<%= @room.id %>");
    channel.bind('client-new-message', function(data) {
      // alert(data.message);
      $(".message-list").append("<li>"+data.message+"</li>");

      var $imagediv = $("<img></img>").attr({
                      alt: "User Avatar",
                      src: "<%= @target.avatar %>"
                    }).addClass("img-circle"),
            $spanct = $("<span></span>").addClass("chat-img1 pull-right").append($imagediv),
          $chatdiv = $("<div></div>").addClass("chat-body1 clearfix").append("<p>"+ data.message+"</p>"),
          $listdiv = $("<li></li>").addClass( "left clearfix" ).append($spanct, $chatdiv);

       $("#messages-box").append($listdiv );
      $("#messages-div").animate({ scrollTop: $('#messages-div').prop("scrollHeight")}, 1000);


    });

channel.bind('pusher:member_added', function() {
  // alert("placeholder joined the conversation");
  // $('#online').show();
  // $('#away').hide();

});


channel.bind('pusher:subscription_succeeded', function() {

  $('.spinner').hide();

  if (channel.members.count < 2 ){
        alert("user count under 2");
         $('#online').show();
          $('#away').hide();
        }
});


  // Sender

    $('#send').click(function(event){
      event.preventDefault();

       $("#messages-div").animate({ scrollTop: $('#messages-div').prop("scrollHeight")}, 1000);

      var text = $('textarea#new_message2').val();
      var channel = pusher.subscribe("presence-room-<%= @room.id %>");
      channel.trigger('client-new-message', {message: text})


        var
            $imagediv = $("<img></img>").attr({
                      alt: "User Avatar",
                      src: "<%= @user.avatar %>"
                    }).addClass("img-circle"),
            $spanct = $("<span></span>").addClass("chat-img1 pull-left").append($imagediv),
          $chatdiv = $("<div></div>").addClass("chat-body1 clearfix").append("<p>"+text+"</p>"),
          $listdiv = $("<li></li>").addClass( "left clearfix" ).append($spanct ,$chatdiv);

      $("#messages-box").append($listdiv );
      $('textarea#new_message2').val("");




    })
  </script>
<% end %>
</div>
