<div class="profile-header-wrapper">
  <div class="container profile-header-container text-left">
    <div class="profile-header-infos">
      <h4>Here you can find someone who fits you</h4>
      <h5>"You can expect a lot of patience and understanding from others who are walking the same road as you"</h5>
    </div>
    <div class="tabs">
      <%= link_to(user_path(current_user.id, anchor:'questionnaire'), options = {class:'tab'}) do %>
        <h3><%= image_tag "002-questions.svg", class: "tab-icon"%>Questionnaire</h3>
      <% end %>
      <%= link_to(current_user, options = {class:'tab'}, html_options = {anchor: 'personality'}) do %>
        <h3><%= image_tag "001-user.svg", class: "tab-icon"%>Personality</h3>
      <% end %>
      <a class="tab active" data-target="#conversation">
        <h3><%= image_tag "003-chat.svg", class: "tab-icon"%>Matches</h3>
      </a>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="tab-content" id="conversation">
    <p class='hidden'><%= current_user.created_at.strftime("%Y") %> Contact me if you want.</p>

    <div class="container mg-top-neg-30">
      <div class="row displaced">
        <% @matches_hash.each do |user_id, score| %>
          <% user = User.find(user_id) %>
          <div class="col-xs-3 col-xs-offset-1 shadow">
            <% if user.online? %>
              <div class="row status-bar-on"></div>
            <% else %>
              <div class="row status-bar-off"></div>
            <% end %>
            <div class="row user-details">
              <div class="avatar-container p-<%= score %>">
                <%= image_tag "http://i.pravatar.cc/100?u=#{user.email}", class: "avatar" %>
                <p class="percent">40%</p>
              </div>
              <h1><%= user.username.capitalize %></h1>
              <span>member since <%= user.created_at.strftime("%Y") %></span>
            </div>
            <div class="row user-profile">
              <div class="col-xs-12">
                <%= link_to rooms_path(recipient: user.id), method: :post, class: "btn btn-primary btn-lg cta-button" do %>
                  <%= image_tag "003-chat.svg", class: "mini-icon"%> &nbsp; Converse
                <% end %>
              </div>
              <div class="col-xs-12 cta-link">
                <%= link_to "View profile", user_path(user), :class => "cta-link" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
