

<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">

<!-- <style>
  body {

background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:
 -webkit-linear-gradient(top,
           rgba(255, 255, 255, .25),
           rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #8668A8, #473D8A)
        ;}
</style> -->


<section>
  <div class="container">
    <div class="row">


      <% @matches_hash.each do |user_id, score| %>
      <% user = User.find(user_id) %>

     <!-- <%= user.username %>

       <%= link_to "get a room",rooms_path(recipient: user.id), method: :post %>-->



      <div class="col-sm-6 col-lg-4">
        <!-- Card Flip -->
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card text-center padded">
                <!-- <img class="card-img-top" src="https://unsplash.it/100/180" alt="100%x180" style="height: 180px; width: 100%; display: block;" > -->

                <div class="avatar-container p-<%= score %>">
                  <img src="http://i.pravatar.cc/150" alt="" class="avatar"/>
                </div><!--.avatar-container-->

                <div class="card-block">
                  <h3 class="text-it text-blue"><%= user.username.capitalize %></h3>


                  <p class="card-text"><!-- Iam blabala and the reason why you should talk to me is that im really good  kfjgfregfoewh oirehoihwrgphrg oeirhfoiher h eroifvh eroiv hfoerih von oeruv oeruv ouenur v ni nberiuov iuebrv  iuevu i rviuberv iat.... -->


                  </p>
                  <%# image_tag("star.png") %>
                  <%# image_tag("star.png") %>
                  <%# image_tag("star.png") %>
                  <%# image_tag("star_empty.png") %>
                  <%# image_tag("star_empty.png") %>
                  <h3 class="text-blue"><%= score %> %</h3>
                </div>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card">
                <div class="card-block">
                  <!-- <h4 class="card-title text-center">Username</h4> -->
                  <!-- <h6 class="card-subtitle text-muted text-center">Profile analysize</h6> -->
                </div>
                <!-- <img data-src="unsplash.it/100/180" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"> -->

                <h4 class="align-center text-blue">Outgoing</h4>
                <progress  class="align-center" max="100" value="<%= user.print_insight["Outgoing"] %>"></progress>



                <h4 class="align-center text-blue">Imagination</h4>
                <progress  class="align-center" max="100" value="<%= user.print_insight["Imagination"] %>"></progress>



                <h4 class="align-center text-blue">Modesty</h4>
                <progress  class="align-center" max="100" value="<%= user.print_insight["Modesty"] %>"></progress>




                <h4 class="align-center text-blue">Sympathy</h4>
                <progress  class="align-center" max="100" value="<%= user.print_insight["Sympathy"] %>"></progress>


                <div class="card-block block-btn">
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                  <%= link_to "Profile", user_path(user), :class => "btn btn-card" %>
                  <%= link_to "chat",rooms_path(recipient: user.id), method: :post , :class => "btn btn-card" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card Flip -->
      </div>



      <% end %>





    </div>
  </div>
</section>

