<!DOCTYPE html>
<html>
  <head>
  <title>Taboo - <%= yield(:title) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--   <title>Taboo</title> -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>

    <%= render 'users/banner_animation' if current_page?(root_path) || current_page?(intro_path) || devise_controller? %>

    <%= render 'shared/flashes' %>

    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://js.pusher.com/4.0/pusher.min.js"%>


    <% if user_signed_in? and controller.controller_name != 'rooms' %>
      <% content_for(:after_js) do %>
        <script>

          Pusher.logToConsole = true;

          var pusher = new Pusher('3df64582bb7a34201be2', {
            encrypted: true
          });

          var channel = pusher.subscribe("online-channel");
          var current_user_id = <%= current_user.id %>
          channel.bind('notify_user', function(data) {
            if (current_user_id == data.user_id){

            // alert(data.sender_username + " want to talk to you");

            $.notify({
                // options
                icon: 'glyphicon glyphicon-comment',
                message: data.sender_username + " wants to talk to you",
                url: '/rooms/'+data.room_id,
                target: '_self'
              },{
                // settings
                type: 'info',
                delay: 30000,
                placement: {
                  from: "top",
                  align: "center"
                },
                allow_dismiss: false,
                newest_on_top: true,
              });
          }
          });
        </script>
      <% end %>
    <% end %>

    <%= yield(:after_js) %>


  </body>
</html>
